<h2>Edit comment</h2>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit %>
<% end %>

<%= form_for [@post, @comment], method: :delete do |f| %>
  <%= f.submit "Delete!", class: "delete" %>
<% end %>
